FORMAT: 1A
HOST: https://owner-api.teslamotors.com

# Tesla Model S JSON API
This is unofficial documentation of the Tesla Model S JSON API used by the iOS and Android apps. It features functionality to monitor and control the Model S remotely.

# Group Authentication

## Tokens [/oauth/token]

### Get an Access Token [POST]
Performs the login. Takes in an plain text email and password, matching the owner's login information for [https://my.teslamotors.com/user/login](https://my.teslamotors.com/user/login).

Returns a `access_token` which is passed along as a header with all future requests to authenticate the user.

You must provide the `Authorization: Bearer {access_token}` header in all other requests.

The current client ID and secret are [available here](http://pastebin.com/fX6ejAHd)

The Attributes should be added as x-www-for-urlencoded body

+ Attributes
    + grant_type: `password` (string) - The type of oAuth grant. Always "password"
    + client_id: `abc` (string) - The oAuth client ID
    + client_secret: `123` (string) - The oAuth client secret
    + email: `elon@teslamotors.com` (string) - The email for my.teslamotors.com
    + password: `edisonsux` (string) - The password for my.teslamotors.com

+ Response 200 (application/json)
    + Body

            {
              "access_token": "abc123",
              "token_type": "bearer",
              "expires_in": 7776000,
              "created_at": 1457385291
            }

# Group Vehicles
A logged in user can have multiple vehicles under their account. This resource is primarily responsible for listing the vehicles and the basic details about them.

## Vehicle Collection [/api/1/vehicles]

### List all Vehicles [GET]
Retrieve a list of your owned vehicles (includes vehicles not yet shipped!)

+ Request
    + Headers

            Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Body

            {
              "response": [
                {
                  "id": 4123241513431212,
                  "vehicle_id": 143241231324,
                  "vin": "4FADSFTQWER14231",
                  "display_name": "MYTESLA",
                  "option_codes": "AFSD,EQWQ,EWQE,TWER,WREW,
                  "color": null,
                  "tokens": [
                    "abc123",
                    "abc321"
                  ],
                  "state": "online",
                  "id_s": "4123241513431212",
                  "remote_start_enabled": true,
                  "calendar_enabled": true,
                  "notifications_enabled": true,
                  "backseat_token": null,
                  "backseat_token_updated_at": null
                }
              ],
              "count": 1
            }


